.button{
	padding:3px; border: solid; 
	border-width: thin; 
	border-color: cadetblue; 
	border-radius: 8px;
	width :30px;
	height :30px;
}
.save-btn{
	margin-left: 5px;
}
.load-btn{
	margin-left: 15px; 
}
.cont{
	width: 90%;
	position: inline-flex;
}

.window{
	width: 200px;
	height: 180px;
}

.search-box{
	padding: 5px;
	margin: 5px;
	border-width: thin;
    border-color: #57b0b3;
    border-radius: 4px;
    box-shadow: -2px 1px 5px #888888;
}

.search-box:focus{
	box-shadow: inset -2px 1px 5px #888888;
}

body{
    background: #485a65;
}
.header {
    font-family: cursive;
    background: #F0F0F0;
    border: 1px solid #CCC;
    padding: 14px;
}
.content {
    background: #F0F0F0;
    border: 1px solid #CCC;
    margin: 20px auto;
}